<div class="main">

    <div class="header">
      <marquee behavior="" direction="right">
        <h4><img src="../assets/images/sa-coronavirus-label.8099928a.svg" alt="" height="100px" width=""> For more information on the Coronavirus (COVID-19) visit <a href="https://sacoronavirus.co.za/">www.sacoronavirus.co.za</a></h4>
      </marquee>   
    </div>
    
    <div class="info">
      
      <img src="../assets/images/psetcloud-logo.png" alt="" width="280"><br>

    <h3>Once we start working together as equal partners, we start creating<br>a solid skills-based economy</h3><br>
       <div class="first_two">
      <div class="educators">
        <img class="photos" src="https://psetcloud.org.za/siteworkspace/home-page-educators-1.jpg/@@images/e910e9f0-c994-47e0-be8a-4f794c1cc798.jpeg" alt="">
        <h2>Educators</h2>

        <h4>Improve the guidance of learners</h4>
        <p>
          The PSET CLOUD platform bridges the gap between all<br>
           players in the post-school education and training worlds.<br>
           It enables educators to guide learners towards<br>
          opportunities and to offer guidance informed by data.
        </p>

      </div>
      <div class="learners">
        <img class="photos" src="https://psetcloud.org.za/siteworkspace/home-page-learners-2-1.jpg/@@images/e4f50124-a5c8-44e7-99a8-ebe2fd0ad9c4.jpeg" alt="">
        <h2>Learners</h2>

        <h4>Quickly match with opportunities</h4>
        <p>
          A big problem is that learners often pursue studies in<br>
           saturated fields and then struggle to find employment.<br>
           PSET CLOUD helps learners to see where the gaps are<br>
           and what opportunities would be best to pursue.
        </p>
      </div>

      <div class="employers">
        <img class="photos" src="https://psetcloud.org.za/siteworkspace/home-page-employers-1.jpg/@@images/9845bec2-9300-46a3-9ce7-ff8675830bff.jpeg" alt="">
        <h2>Employers</h2>

        <h4>Experience greater efficiency and<br> reduced costs</h4>
        <p>
          The PSET CLOUD platform offers valuable and accurate<br>
          data that empowers informed decision making and future<br>
           planning. This is a collaborative tool that helps to connect<br>
            key players.
        </p>

      </div>

      </div>
     

    </div>    
</div>
