.header{
    top: 0px;
    padding-top: -10px;
    height: 110px;
    line-height: 100px;
    width: 100%;
    background: rgba(128, 128, 128, 0.9);
    color: black;
    margin-bottom: 10px;
}
.info{
    padding-top: -5px;
    margin-left: 100px;
}
.info>h3{
    color: royalblue;
}
.first_two{
    display: flex;
    padding: 10px;
}
.learners{
    margin-left: 35px;;
}
.employers{
    margin-left: 70px;
}
.photos{
    width: 390px;
    height: 350px;
}