<mat-grid-list cols="2" rowHeight="1:1" id="scroll">
    <mat-grid-tile>
        <mat-card class="example-card">
            <img mat-card-image src="../assets/images/profile_pictures/Mpho.jpeg" alt="Profile picture">  
        </mat-card>
        
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
            <mat-card-title>About Me.</mat-card-title>
            <mat-card-title>Hello I'm Mpho Manaka.</mat-card-title>
              <!-- <mat-card-subtitle>About</mat-card-subtitle> -->
            </mat-card-header>
            <mat-card-content>
              <h2>
                I'm a junior System Engineer, Full-Stack [Front-end & Back-end] Developer.
            </h2>
            <p>
              I possess a Bachelor of Science.
               Majoring in System Development at Richfield Institution of Technology.<br>
               I have passion and enigma affection for programming or coding. Turning ideas into reality is in my DNA,
               the main aim is to simplify, beautify and make the systems user-friendly for human beings.
               I also have one year of experience with JumpCo Consulting (Pty) Ltd.
               Whereby I was placed to create a user Login and registration website along with other developers.
               I'm willing to levitate my experience and engage with other developers to solve existing problems.
               Due to that in the Tech world, we never stop learning as we have to evolve with the new tools and technologies that
               might rise at any given time.

            </p>
              <mat-divider></mat-divider>
            </mat-card-content>
            <div class="example-button-row mb-4 mt-4">
              <button mat-raised-button color="primary" routerLink="/resume">View Resume</button>
            </div>
            </mat-card>
    </mat-grid-tile>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-grid-list>
  <div class="album py-5 ">
    <h1>Tech stack</h1><br><br>
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img class="images" src="assets/images/icons/html5.png">
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="images" src="assets/images/icons/css3.png">
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="images" src="assets/images/icons/js.png">
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="images" src="assets/images/icons/php.png">
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="images" src="assets/images/icons/angular.png">
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="images" src="assets/images/icons/spring_boot.png">
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="images" src="assets/images/icons/c_sharp.png">
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="images" src="assets/images/icons/java.png">
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="images" src="assets/images/icons/bootstrap.png">
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="images" src="assets/images/icons/apache.png">
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="images" src="assets/images/icons/postman.png">
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="images" src="assets/images/icons/mysqli.png">
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="images" src="assets/images/icons/tomcat.png">
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="images" src="assets/images/icons/git.png">
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="images" src="assets/images/icons/c++.png">
          </div>
        </div>
      </div>
    </div>
  </div>



  