<div class="info">

    <img src="../assets/images/psetcloud-logo.png" alt="" width="280"><br>
  </div>

  <div class="container">
    <div class="row">
       <div class="col-md-6">
          <div class="card">
            <h5>Please verify your email entering the code sent to your email</h5>
              <div class="text-center">
              </div>
              <form [formGroup]="verifyEmail">
                  <div class="form-group">

                      <input formControlName="code" type="text" class="form-control" placeholder="Enter the code" required>

                    <div class="errors" *ngIf="submitted && formValidate.code.errors">
                      <div *ngIf="formValidate.code.errors.required">Field Is Required</div>
                      </div>

                    </div>
                    <br>

                    <div class="buttons">
                        <button  class="btn btn-primary">Resend Code</button>
                        <button (click)="loginSubmit()" type="submit" class="btn btn-primary">Verify Email</button>
                        <button type="reset" class="btn btn-primary" routerLink="/frontpage">Cancel</button>

                    </div>
              </form>

          </div>
       </div>

  </div>
  </div>
