img{
    margin-top:2%;
    margin-left: 2%;
}
h1{
    color: royalblue;
    top: 0%;
    margin-left: 0px;
    padding-left: -15px;
}
.card {
    margin-top: 10px;
    border: none;
    width:600px;
    padding: 40px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%,50%);
    background: rgba(200,200,200, 01);
    color: black;
    font-weight: bold;
}
a{
    font-size:20px;
}
a:hover, a:focus{
    color: red;
    font-size: 25px;
    transition: color 0.5s ease;
    text-decoration: underline;
}
.buttons{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 50px;
    grid-row-gap: 10px;
    padding: 10px;
}
button:hover, button:focus{
    cursor: pointer;
    color: white;
    background-color: black;
    font-size: 20px;
    transition: background-color, color 0.5s ease;
}
input:hover, input:focus {
    border: blue;
    cursor: pointer;
}
span{
    color: red;
}
.errors {
    color: red;
    font-family: bold;
    font-size: 20px;
    padding-left: 5px;
}