<div class="projects">
<div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="./assets/screenshots/calculator/first.png" alt=" " style="width:380px;height:300px;">
      </div>
      <div class="flip-card-back">
        <h1>Description</h1> 
        <p>Calculator App</p>
        <a href="https://github.com/MphoMan/calculator.git">See My Source Code on github.</a> 
      </div>
    </div>
  </div>

  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="./assets/screenshots/Tic_Tac_Toe/first.png" alt=" " style="width:380px;height:300px;">
      </div>
      <div class="flip-card-back">
        <h1>Description</h1> 
        <p>Tic Tac Toe Game</p> 
        <a href="https://github.com/MphoMan/TicTacToe">See My Source Code on github.</a>
      </div>
    </div>
  </div>
  
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="./assets/screenshots/BujwaDancer/first.png" alt=" " style="width:380px;height:300px;">
      </div>
      <div class="flip-card-back">
        <h1>Description</h1> 
        <p>Dancer's Website</p> 
        <a href="https://github.com/MphoMan/BGFWebsite.git">See My Source Code on github.</a>
      </div>
    </div>
  </div>
  
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="./assets/screenshots/My_portfolio/first.png" alt=" " style="width:380px;height:300px;">
      </div>
      <div class="flip-card-back">
        <h1>Description</h1> 
        <p>My Portfolio</p> 
        <a href="https://github.com/MphoMan/My_Portfolio.git">See My Source Code on github.</a>
      </div>
    </div>
  </div>

  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="./assets/screenshots/Quadratic/first.png" alt=" " style="width:380px;height:300px;">
      </div>
      <div class="flip-card-back">
        <h1>Description</h1> 
        <p>Quadratic Calculations App</p> 
        <a href="https://github.com/MphoMan/my_java_projects.git">See My Source Code on github.</a>
      </div>
    </div>
  </div>

  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="./assets/screenshots/Pset_cloud/first.png" alt=" " style="width:380px;height:300px;">
      </div>
      <div class="flip-card-back">
        <h1>Description</h1> 
        <p>Sign (In & Up) Pset-cloud website</p> 
        <a href="https://gitlab.com/afrikatek/pset-frontend">See My Source Code on gitLab.</a>
      </div>
    </div>
  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="./assets/screenshots/School_project/first.png" alt=" " style="width:380px;height:300px;">
      </div>
      <div class="flip-card-back">
        <h1>Description</h1> 
        <p>Booking Car Delearship Website</p> 
        <a href="https://github.com/MphoMan/SchoolProject.git">See My Source Code on github.</a>
      </div>
    </div>
  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="./assets/screenshots/Student_portal/first.png" alt=" " style="width:380px;height:300px;">
      </div>
      <div class="flip-card-back">
        <h1>Description</h1> 
        <p>Student Portal</p> 
        <a href="https://github.com/MphoMan/studentPortal.git">See My Source Code on github.</a>
      </div>
    </div>
  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="./assets/screenshots/Unisa/first.png" alt=" " style="width:380px;height:300px;">
      </div>
      <div class="flip-card-back">
        <h1>Description</h1> 
        <p>Student Mark App</p> 
        <a href="https://github.com/MphoMan/Student_results.git">See My Source Code on github.</a>
      </div>
    </div>
  </div>




</div>
