<!-- <div class="container"> -->
    <!-- <ul>
        <li *ngFor="let item of users">{{item.firstName}} having {{item.lastName}}</li>
    </ul> -->
<header>
   <a href="/login">Log out</a>
   
    
</header>

<h1 *ngFor="let item of users">{{item.firstName}} {{item.lastName}}</h1>

<!-- <h1>Welcome to our Home Page {{item.firstName}} {{item.lastName}}</h1> -->

<!-- <h1>{{user.username}}</h1> -->

<!-- <button (click)="logOut()">Log out</button> -->


<!-- <footer><h3>My Footer</h3></footer> -->
<!-- </div> -->


