header{
    height: 100px;
    width: 100%;
    line-height: 100px;
    padding-left: 10px;
    background-color: darkblue;
}
header>a{
    text-decoration: none;
    font-size: 25px;
    color: white;

}

header>a:focus, header>a:hover{
    text-decoration: underline;
    color: yellow;
}

footer{
    height: 250px;
    width: inherit;
    /* background: url('../assets/images/xs-logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 25%; */
    background-color: darkblue;
    color: white;
}
footer>h3{
    padding-left: 50%;
    padding-top: 4%;
}
